*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
    color:#000;
}
#title_top{
    width:100%;
    height:40px;
    background:#000;
    font-size:14px;
}
#title_header img{
    width:70px;
    margin:6px 0 0 40px;
}
#header{
    float:right;
    margin-right:85px;
}
#header_content ul li{
    margin:12px 0 0 30px;
    float:left;
}
#header_content ul li a{
    color:#fff;
}
#bag{
    width:100%;
    height:619px;
    background: url(image/Company_Profile.jpg) no-repeat;
}
#background_content{
    width:82%;
    height:450px;
    padding:10px;
    background:#fff;
    position:relative;
    border-radius:10px;
    margin:0 auto;
    top:60px;
    filter:alpha(opacity=95);
	-moz-opacity:0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
}
#Performance_logo{
    width:30%;
    height:100%;
}
#Performance_logo img{
    width:100%;
    height:100%;
}
#information{
    width:50%;
    height:70%;
    border:10px solid #ddd;
    position: absolute;
    top:55px;
    left:39%;
    padding:10px;
}
table{
    width:100%;
    height:100%;
    border-collapse: collapse;
    overflow: hidden;
}
table tr td{
    text-align: center;
    width:184px;
}
table tr{
    border-bottom:1px solid #ccc;
}