*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
    color:#000;
}
#title_top{
    width:100%;
    height:40px;
    background:#000;
    font-size:14px;
}
#title_header img{
    width:70px;
    margin:6px 0 0 40px;
}
#header{
    float:right;
    margin-right:85px;
}
#header_content ul li{
    margin:12px 0 0 30px;
    float:left;
}
#header_content ul li a{
    color:#fff;
}
#bag{
    width:100%;
    height:619px;
    background: url(image/Company_Profile.jpg) no-repeat;
}
#background_content{
    width:82%;
    height:450px;
    padding:10px;
    background:#ddd;
    position:relative;
    border-radius:10px;
    margin:0 auto;
    top:60px;
    filter:alpha(opacity=95);
	-moz-opacity:0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
}
/******************************************************************/
table{
    width:85%;
    margin:0 auto;
    margin-top:40px;
}
table tr td img{
    margin:0 0 0 52px;
    width:120px;
    height:150px;
}
#shadow{
    width:80%;
    height:10px;
    margin:0 auto;
    position: relative;
    top:-3px;
    background: #fff;
    box-shadow: 0 10px 35px #888888;
}