html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font: 11px Helvetica, Arial, sans-serif;
    min-width: 1330px;
    min-height: 660px;
    overflow:hidden;
}

img {
    max-width: 100%;
}

a {
    color: white;
    text-decoration: none;
}

.header {
    height: 40px;
    background-color: black;
}

    .header .logo {
        width: 70px;
        margin-top: 7px;
        margin-left: 46px;
    }

    .header::after {
        content: "";
        clear: both;
        display: block;
    }

    .header .nav {
        float: right;
        margin-right: 40px;
    }

        .header .nav li {
            float: left;
            padding: 0 10px;
            height: 100%;
            display: inline-block;
            line-height: 40px;
        }

            .header .nav li:hover {
                background-color: #299fd1;
                cursor: pointer;
            }

            .header .nav li.active {
                background-color: #299fd1;
            }

                .header .nav li.active a {
                    color: white !important;
                }

            .header .nav li a {
                border-bottom: 0px;
                display: block;
            }

.content {
    height: calc(100% - 40px);
    background-image: url(/images/Company_Profile.jpg);
    background-size: cover;
}

    .content > .wraper {
        width: 82%;
        height: 450px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.8);
        position: relative;
        border-radius: 10px;
        margin: 0 auto;
        top: 60px;
        filter: alpha(opacity=95);
    }

.cc {
    height: 360px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -410px;
    margin-top: -180px;
}
