@model Customer

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <p>姓名:@Model.NickName</p>
        <p>电话:@Model.TelePhone</p>
        <p>邮箱:@Model.Email</p>
        <p>需求:@Model.requirement</p>
    </div>
</body>
</html>